<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAATsKINXzNlXVV7U8VK7pzfY-SWXL3L1I"></script>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" onload="initialize()">

<!-- Navbar -->
<%= render 'layouts/navbar' %> 

<!-- First Container -->
<div id='who' class="container-fluid bg-1 text-center">
  <h3>Who Am I?</h3><br/>
      <img src="https://s3.amazonaws.com/stxts-profile/FullSizeRender.jpg" class="img-responsive img-circle" id="profile-pic" alt="ST" width="350" height="350">
      <h2><strong>Songtham Tungkitkancharoen</strong></h2>
      <hr>
  <div class="parent">
    <span class="big">Software Engineer</span>
    <span class="small">x</span>
    <span class="big">Full Stack Developer</span>
  </div>
</div>

<!-- Second Container -->
<div id='what' class="container-fluid bg-2 text-center">
  <h3 class="margin">What Programming Languages Do I Use?</h3>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://s3.amazonaws.com/stxts-profile/python.png" class="img-rounded margin" alt="Image" height="300" width="300">
      <p>Python for ETL & Data Manipulation<br/> Crawling + Scraping</p><br/>
    </div>
    <div class="col-sm-4"> 
      <img src="https://s3.amazonaws.com/stxts-profile/ruby.png" class="img-rounded margin" alt="Image" height="300" width="300">
      <p>Ruby on Rails for Personal Projects<br/> HTML + CSS + Javascript</p><br/>
    </div>
    <div class="col-sm-4"> 
      <img src="https://s3.amazonaws.com/stxts-profile/csharp.png" class="img-rounded margin" alt="Image" height="300" width="300">
      <p>C# .NET MVC for Work<br/>Visual Studio</p><br/>
    </div>
  </div>
</div>

<div id='where' class="container-fluid bg-3 text-center">
  <h3 class="margin">Where Is My LinkedIn, GitHub, & Resume?</h3>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://s3.amazonaws.com/stxts-profile/Linkedin_Shiny_Icon.svg_.png" class="img-rounded margin" alt="Image" height="300" width="300"><br/>
      <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/stxts" role="button">LinkedIn</a><br/><br/>
    </div>
    <div class="col-sm-4"> 
      <img src="https://s3.amazonaws.com/stxts-profile/25231.png" class="img-rounded margin" alt="Image" height="300" width="300"><br/>
      <a class="btn btn-warning btn-lg" href="https://www.github.com/stxts" role="button">GitHub</a><br/><br/>
    </div>
    <div class="col-sm-4"> 
      <img src="https://s3.amazonaws.com/stxts-profile/resume-icon-png-10.png" class="img-rounded margin" alt="Image" height="300" width="300"><br/>
      <a class="btn btn-default btn-lg" href="https://s3.amazonaws.com/stxts-profile/st_resume.pdf" role="button">Resume</a>
    </div>
  </div>
</div>

<!-- Add Google Maps -->
<div id="googleMap"></div>

</body>
</html>
