<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" onload="initialize()">

  <!-- First Container -->
  <div id='about' class="container-fluid bg-1 text-center">
        <img src="https://s3.amazonaws.com/stxts-profile/FullSizeRender.jpg" class="img-responsive img-circle" id="profile-pic" alt="ST" width="350" height="350">
        <h2><strong>Songtham Tungkitkancharoen</strong></h2>
        <hr class="star-light">
    <div class="parent" id="fancyTitle">
      <span class="big">Software Engineer</span>
      <span class="small">x</span>
      <span class="big">Full Stack Web Developer</span>
      <span class="small">x</span>
      <span class="big">Crawling Ninja</span>
    </div>
  </div>

  <!-- Second Container -->
  <div id='portfolio' class="container-fluid bg-3 text-center">
    <h2 class="margin">Portfolio</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-sm-4">
      <a href="#" data-toggle="modal" class="img-div" data-target="#PinterestedxSTxModal">
        <img src="https://s3.amazonaws.com/stxts-profile/PinterestedxST_logo.png" class="img-rounded margin fancyLinks" alt="PinterestedxST_logo" height="200" width="200"></a>
      </div>
      <div class="col-sm-4">
      <a href="#" data-toggle="modal" class="img-div" data-target="#CrawlingNinjaxModal"> 
        <img src="https://s3.amazonaws.com/stxts-profile/crawling_ninja_logo.png" class="img-rounded margin fancyLinks ninja" alt="CrawlingNinja_logo" height="200" width="200"></a>
      </div>
      <div class="col-sm-4">
      <a href="#" data-toggle="modal" class="img-div" data-target="#STTSxModal">
        <img src="https://s3.amazonaws.com/stxts-profile/st+icon.jpg" class="img-rounded margin fancyLinks" alt="STTS_logo" height="200" width="200"></a>
      </div>
    </div>
  </div>

  <!-- Third Container -->
   <div id='tech' class="container-fluid bg-2 text-center">
    <h3 class="margin">Tech Stack</h3>
    <hr class="star-grey" style="color: white;">
    <div class="row slideanim">
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/python.png" class="img-rounded margin fancyContainer" alt="Python" height="200" width="200">
        <h4>Python</h4>
        <p>Crawling/Scraping/ETL</p>
      </div>
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/ruby.png" class="img-rounded margin fancyContainer" alt="Ruby" height="200" width="200">
        <h4>Ruby on Rails</h4>
        <p>Full Stack Web Development</p>
      </div>
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/csharp.png" class="img-rounded margin fancyContainer" alt="Csharp" height="200" width="200">
        <h4>C# .NET MVC</h4>
        <p>Software Engineer</p>
      </div>
    </div>
    <br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/Code_logo.png" class="img-rounded margin fancyContainer" alt="Code_Logo" height="200" width="200">
        <h4>Coding Principles</h4>
        <p>AGILE OOP MVC DRY KISS</p>
      </div>
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/Html-Css-Js.png" class="img-rounded margin fancyContainer" alt="HTML-CSS-JS" height="200" width="200">
        <h4>HTML/CSS/Javascript</h4>
        <p>Frontend Web Design</p>
      </div>
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/database.png" class="img-rounded margin fancyContainer" alt="SQL" height="200" width="200">
        <h4>RDBMS - Database</h4>
        <p>MSSQL, MySQL, PostGreSQL</p>
      </div>
    </div>
  </div>


  <!-- Google Maps -->
  <div id="googleMap"></div>

  <!-- Javascript -->
  <script>
    sr.reveal('.fancyContainer', { delay: 200, scale: 0.5, rotate: { x: 10, y: 20, z: 30 } });
    sr.reveal('.fancyLinks', { delay: 200, scale: 0.5 });
    sr.reveal('#fancyTitle', { delay: 150, scale: 0.5, origin: 'left', distance: '1000px' });
  </script>
</body>
