<!DOCTYPE html>
<html lang="en" class="no-js">
<body>  

    <div class="site-container">

        <header class="site-header cf">

            <div class="cf"></div>

            <div class="site-tagline">
                <p>Hi, I'm <strong>Songtham Tung.</strong><br> I'm a Software Engineer at a <span style="color: #90D4C5">FinTech Startup</span>                    in San Francisco, CA. </p>
            </div>

        </header>
        <!-- / .site-header -->

        <section class="site-content">


            <div class="projects-feed cf">

                <article class="project cf">
                    <%# <a href="portfolio-item.html" title="Craft Tamale"> %>
                        <div class="thumb">
                            <div data-picture data-alt="">
                                <div data-src="https://s3.amazonaws.com/stxts-profile/portfolio-1.jpg"></div>

                                <!--[if (lt IE 9) & (!IEMobile)]>
                                <div data-src="img/portfolio-1.jpg"></div>
                                <![endif]-->

                                <noscript>
                                    <img src="https://s3.amazonaws.com/stxts-profile/portfolio-1.jpg" alt="" />
                                </noscript>
                            </div>
                        </div>

                        <div class="project-content-container">
                            <div class="project-content">
                                <div class="table">
                                    <div class="table-cell">
                                        <h2 class="thumbnail-title">Machine Learning</h2>

                                        <p class="thumbnail-description">Tesseract OCR</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="overlay"></div>
                    <%# </a> %>
                </article>
                <article class="project cf">
                    <%# <a href="portfolio-item.html" title="IKEA Singapore"> %>
                        <div class="thumb">
                            <div data-picture data-alt="">
                                <div data-src="https://s3.amazonaws.com/stxts-profile/portfolio-2.jpg"></div>

                                <!--[if (lt IE 9) & (!IEMobile)]>
                                <div data-src="img/portfolio-2.jpg"></div>
                                <![endif]-->

                                <noscript>
                                    <img src="https://s3.amazonaws.com/stxts-profile/portfolio-2.jpg" alt="" />
                                </noscript>
                            </div>
                        </div>

                        <div class="project-content-container">
                            <div class="project-content">
                                <div class="table">
                                    <div class="table-cell">
                                        <h2 class="thumbnail-title">C# .NET MVC</h2>

                                        <p class="thumbnail-description">LINQ Entity Framework Hangfire</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="overlay"></div>
                    <%# </a> %>
                </article>
                <article class="project cf">
                    <%# <a href="portfolio-item.html" title="Comuna"> %>
                        <div class="thumb">
                            <div data-picture data-alt="">
                                <div data-src="https://s3.amazonaws.com/stxts-profile/portfolio-3.jpg"></div>

                                <!--[if (lt IE 9) & (!IEMobile)]>
                                <div data-src="img/portfolio-3.jpg"></div>
                                <![endif]-->

                                <noscript>
                                    <img src="https://s3.amazonaws.com/stxts-profile/portfolio-3.jpg" alt="" />
                                </noscript>
                            </div>
                        </div>

                        <div class="project-content-container">
                            <div class="project-content">
                                <div class="table">
                                    <div class="table-cell">
                                        <h2 class="thumbnail-title">Frontend</h2>

                                        <p class="thumbnail-description">HTML5 CSS3 Javascript jQuery AJAX Angular</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="overlay"></div>
                    <%# </a> %>
                </article>
                <article class="project cf">
                    <%# <a href="portfolio-item.html" title="Nike 'Strawberry Lace' Pack"> %>
                        <div class="thumb">
                            <div data-picture data-alt="">
                                <div data-src="https://s3.amazonaws.com/stxts-profile/portfolio-4.jpg"></div>

                                <!--[if (lt IE 9) & (!IEMobile)]>
                                <div data-src="img/portfolio-4.jpg"></div>
                                <![endif]-->

                                <noscript>
                                    <img src="https://s3.amazonaws.com/stxts-profile/portfolio-4.jpg" alt="" />
                                </noscript>
                            </div>
                        </div>

                        <div class="project-content-container">
                            <div class="project-content">
                                <div class="table">
                                    <div class="table-cell">
                                        <h2 class="thumbnail-title">Backend</h2>

                                        <p class="thumbnail-description">ETL API SDK Automation </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="overlay"></div>
                    <%# </a> %>
                </article>
                <article class="project cf">
                    <%# <a href="portfolio-item.html" title="Wearetheshit"> %>
                        <div class="thumb">
                            <div data-picture data-alt="">
                                <div data-src="https://s3.amazonaws.com/stxts-profile/portfolio-5.jpg"></div>

                                <!--[if (lt IE 9) & (!IEMobile)]>
                                <div data-src="img/portfolio-5.jpg"></div>
                                <![endif]-->

                                <noscript>
                                    <img src="https://s3.amazonaws.com/stxts-profile/portfolio-5.jpg" alt="" />
                                </noscript>
                            </div>
                        </div>

                        <div class="project-content-container">
                            <div class="project-content">
                                <div class="table">
                                    <div class="table-cell">
                                        <h2 class="thumbnail-title">RDBMS</h2>

                                        <p class="thumbnail-description">MSSQL MySQL PostgreSQL</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="overlay"></div>
                    <%# </a> %>
                </article>
                <article class="project cf">
                    <%# <a href="portfolio-item.html" title="Chamba para Creativos"> %>
                        <div class="thumb">
                            <div data-picture data-alt="">
                                <div data-src="https://s3.amazonaws.com/stxts-profile/portfolio-6.jpg"></div>

                                <!--[if (lt IE 9) & (!IEMobile)]>
                                <div data-src="img/portfolio-6.jpg"></div>
                                <![endif]-->

                                <noscript>
                                    <img src="https://s3.amazonaws.com/stxts-profile/portfolio-6.jpg" alt="" />
                                </noscript>
                            </div>
                        </div>

                        <div class="project-content-container">
                            <div class="project-content">
                                <div class="table">
                                    <div class="table-cell">
                                        <h2 class="thumbnail-title">DevOps</h2>

                                        <p class="thumbnail-description">AWS Heroku Gitlab</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="overlay"></div>
                    <%# </a> %>
                </article>
                <!--END .projects-feed-->
            </div>

            <!--END .site-content-->
        </section>
        <!--END .site-container-->
    </div>
</body>

</html>