<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" onload="initialize()">

  <!-- First Container -->
  <div id='about' class="container-fluid cf parallax text-center">
        <img src="https://s3.amazonaws.com/stxts-profile/FullSizeRender.jpg" class="img-responsive img-circle" id="profile-pic" alt="ST" width="350" height="350">
        <h2><strong class="whitefont">Songtham Tungkitkancharoen</strong></h2>
        <hr class="star-light">
    <div class="parent">
    <div class="animated flipInX wow" >
      <span id="title" class="whitefont">Full Stack Web Developer</span>
    </div>
      <br>
      <p>
      <img src="https://s3.amazonaws.com/stxts-profile/ruby.png" class="img-rounded margin" alt="Ruby" height="50" width="50" data-toggle="tooltip" title="Ruby on Rails" data-placement="bottom">
      <img src="https://s3.amazonaws.com/stxts-profile/python.png" class="img-rounded margin" alt="Python" height="50" width="50" data-toggle="tooltip" title="Python" data-placement="bottom">
      <img src="https://s3.amazonaws.com/stxts-profile/csharp.png" class="img-rounded margin" alt="C#" height="50" width="50" data-toggle="tooltip" title="C#" data-placement="bottom">
      <img src="https://s3.amazonaws.com/stxts-profile/angular2.png" class="img-rounded margin" alt="Angular2" height="50" width="50" data-toggle="tooltip" title="Angular2" data-placement="bottom">
      <img src="https://s3.amazonaws.com/stxts-profile/Html-Css-Js.png" class="img-rounded margin" alt="Html-Css-Js" height="50" width="50" data-toggle="tooltip" title="HTML/CSS/Javascript" data-placement="bottom">
      <img src="https://s3.amazonaws.com/stxts-profile/database.png" class="img-rounded margin" alt="SQL" height="50" width="50" data-toggle="tooltip" title="SQL/RDBMS" data-placement="bottom">
      </p>
    </div>
  </div>

  <!-- Second Container -->
  <div id='portfolio' class="container-fluid cf bg-3 text-center">
    <h2 class="margin">Portfolio</h2>
    <hr class="star-primary">
     <span><i>Click below to learn more!</i></span><br><br>
    <div class="animated pulse wow" data-wow-iteration="2">
    <div class="row">
      <div class="col-sm-4">
      <a href="#" data-toggle="modal" class="img-div" data-target="#WeatherxSTxModal">
        <img src="https://s3.amazonaws.com/stxts-profile/Weather_logo.png" class="img-rounded margin" alt="Weather_logo" height="200" width="200"></a>
      </div>
      <div class="col-sm-4">
      <a href="#" data-toggle="modal" class="img-div" data-target="#FreelancexSTxModal"> 
        <img src="https://s3.amazonaws.com/stxts-profile/freelance_logo.png" class="img-rounded margin" alt="Freelance_logo" height="200" width="200"></a>
      </div>
      <div class="col-sm-4">
      <a href="#" data-toggle="modal" class="img-div" data-target="#BKExModal">
        <img src="https://s3.amazonaws.com/stxts-profile/BKE_logo.png" class="img-rounded margin" alt="STTS_logo" height="200" width="200"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
      <a href="#" data-toggle="modal" class="img-div" data-target="#PinterestedxSTxModal">
        <img src="https://s3.amazonaws.com/stxts-profile/PinterestedxST_logo.png" class="img-rounded margin" alt="PinterestedxST_logo" height="200" width="200"></a>
      </div>
      <div class="col-sm-4">
      <a href="#" data-toggle="modal" class="img-div" data-target="#CrawlingNinjaxModal"> 
        <img src="https://s3.amazonaws.com/stxts-profile/crawling_ninja_logo.png" class="img-rounded margin" alt="CrawlingNinja_logo" height="200" width="200"></a>
      </div>
      <div class="col-sm-4">
      <a href="#" data-toggle="modal" class="img-div" data-target="#STTSxModal">
        <img src="https://s3.amazonaws.com/stxts-profile/st+icon.jpg" class="img-rounded margin" alt="STTS_logo" height="200" width="200"></a>
      </div>
      </div>
    </div>
  </div>

  <!-- Google Maps -->
  <div id="googleMap"></div>

</body>
