<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" onload="initialize()">

  <!-- First Container -->
  <div id='who' class="container-fluid bg-1 text-center">
    <h3>Who Am I?</h3><br/>
        <img src="https://s3.amazonaws.com/stxts-profile/FullSizeRender.jpg" class="img-responsive img-circle" id="profile-pic" alt="ST" width="350" height="350">
        <h2><strong>Songtham Tungkitkancharoen</strong></h2>
        <hr>
    <div class="parent" id="fancyTitle">
      <span class="big">Software Engineer</span>
      <span class="small">x</span>
      <span class="big">Full Stack Developer</span>
    </div>
  </div>

  <!-- Second Container -->
  <div id='what' class="container-fluid bg-2 text-center">
    <h3 class="margin">What is my Programming Toolkit?</h3>
    <div class="row slideanim">
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/python.png" class="img-rounded margin fancyContainer" alt="Python" height="200" width="200">
        <h4>Python</h4>
        <p>Crawling/Scraping/ETL</p>
      </div>
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/ruby.png" class="img-rounded margin fancyContainer" alt="Ruby" height="200" width="200">
        <h4>Ruby on Rails</h4>
        <p>Personal Projects (Like this site)</p>
      </div>
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/csharp.png" class="img-rounded margin fancyContainer" alt="Csharp" height="200" width="200">
        <h4>C# .NET MVC</h4>
        <p>Professional Web Development</p>
      </div>
    </div>
    <br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/Code_logo.png" class="img-rounded margin fancyContainer" alt="Code_Logo" height="200" width="200">
        <h4>Coding Principles</h4>
        <p>AGILE OOP MVC DRY KISS</p>
      </div>
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/Html-Css-Js.png" class="img-rounded margin fancyContainer" alt="HTML-CSS-JS" height="200" width="200">
        <h4>HTML/CSS/Javascript</h4>
        <p>Frontend Fundamentals</p>
      </div>
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/database.png" class="img-rounded margin fancyContainer" alt="SQL" height="200" width="200">
        <h4>RDBMS - Database</h4>
        <p>MSSQL, MySQL, PostGreSQL</p>
      </div>
    </div>
  </div>

  <!-- Third Container -->
  <div id='where' class="container-fluid bg-3 text-center">
    <h3 class="margin">Where is my LinkedIn, GitHub, & Resume?</h3>
    <div class="row">
      <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/stxts-profile/Linkedin_Shiny_Icon.svg_.png" class="img-rounded margin fancyLinks" alt="LinkedIn" height="300" width="300"><br/>
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/stxts" role="button">LinkedIn</a><br/><br/>
      </div>
      <div class="col-sm-4"> 
        <img src="https://s3.amazonaws.com/stxts-profile/25231.png" class="img-rounded margin fancyLinks" alt="GitHub" height="300" width="300"><br/>
        <a class="btn btn-warning btn-lg" href="https://www.github.com/stxts" role="button">GitHub</a><br/><br/>
      </div>
      <div class="col-sm-4"> 
        <img src="https://s3.amazonaws.com/stxts-profile/resume-icon-png-10.png" class="img-rounded margin fancyLinks" alt="Resume" height="300" width="300"><br/>
        <a class="btn btn-default btn-lg" href="https://s3.amazonaws.com/stxts-profile/st_resume.pdf" role="button">Resume</a>
      </div>
    </div>
  </div>

  <!-- Google Maps -->
  <div id="googleMap"></div>

  <!-- Javascript -->
  <script>
    sr.reveal('.fancyContainer', { delay: 200, scale: 0.5, rotate: { x: 10, y: 20, z: 30 } });
    sr.reveal('.fancyLinks', { delay: 200, scale: 0.5 });
    sr.reveal('#fancyTitle', { delay: 250, scale: 0.5, origin: 'left', distance: '1000px' });
  </script>
</body>
