<footer class="container-fluid bg-5 text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p><a href="mailto:Songthamtung@gmail.com" id="emailLink">Songthamtung@gmail.com</a><br/><phone>415-283-7841</phone><br/>San Francisco, CA</p>
</footer>