<footer class="container-fluid bg-5 text-center">
<a href="#myPage" title="To Top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>
<ul class="list-inline">
                            <li>
                                <a href="https://www.github.com/stxts" target="_blank" class="btn-social btn-outline" data-toggle="tooltip" title="GitHub"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://www.upwork.com/freelancers/~010cea5e596bed9293" target="_blank" class="btn-social btn-outline" data-toggle="tooltip" title="UpWork"><i class="fa fa-fw fa-id-card"></i></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/songthamtung" target="_blank" class="btn-social btn-outline" data-toggle="tooltip" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/stxts" target="_blank" class="btn-social btn-outline" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://s3.amazonaws.com/stxts-profile/st_resume.pdf" target="_blank" class="btn-social btn-outline" data-toggle="tooltip" title="Resume"><i class="fa fa-fw fa-user-o"></i></a>
                            </li>
</ul>                    
</footer>