<hr>
<footer class="site-footer cf">
    <p class="footer-text">© STXTS</p>
    <nav class="languages" role="navigation">
        <ul>

            <li>Eat</li>
            <li>Sleep</li>
            <li style="color: #90D4C5">Code</li>
            <li>Repeat</li>

        </ul>
    </nav>
</footer>