<div id="PinterestedxSTxModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pinterest Clone Web App</h4>
      </div>
      <div class="modal-body">
        <a href="https://pinterestedxst.herokuapp.com/" target="_blank">
        <img src="https://s3.amazonaws.com/stxts-profile/pinterestedxst_thumbnail.png" alt="PinterestedxSTxApp" class="modalPic"></a><br>
        <div class="container-fluid" id="modalxbody">
          <div class="row">
            <div class="col-lg-6">  
              <h2 class="modalh2">Features</h2>
              <ul>
                <li>User Authentication</li>
                <li>Bootstrap design</li>
                <li>CRUD</li>
                <li>HTML/CSS/JS/jQuery</li>
                <li>SQLite3 dev | PostgreSQL prod</li>
              </ul>
            </div>
            <div class="col-lg-6">  
              <h2 class="modalh2">Build</h2>
              <ul>
                <li>Ruby on Rails</li>
                <li>C9 Online Dev Environment</li>
                <li>Git Version Control</li>
                <li>Deployed on Heroku</li>
                <li>AWS S3 - Cloud Storage</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="modalxfooter">
       <a href="https://github.com/stxts/pinterested" target="_blank" id="modalxfooterxlink">github.com/stxts/pinterested</a>
       <div class="modalxfooterxdate"><strong>AUG 2016</strong></div>
      </div>
    </div>
  </div>
</div>

<div id="CrawlingNinjaxModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Crawling Ninja Web App</h4>
      </div>
      <div class="modal-body">
        <a href="https://www.crawling.ninja" target="_blank">
        <img src="https://s3.amazonaws.com/stxts-profile/crawlingninja_thumbnail.png" class="modalPic"></a><br>
        <div class="container-fluid" id="modalxbody">
          <div class="row">
            <div class="col-lg-6">  
              <h2 class="modalh2">Features</h2>
                <ul>
                  <li>Custom Template</li>
                  <li>Bootstrap design</li>
                  <li>Email Functionality</li>
                  <li>AJAX</li>
                  <li>HTML/CSS/JavaScript</li>
                </ul>
            </div>     
          <div class="col-lg-6">  
            <h2 class="modalh2">Build</h2>
            <ul>
              <li>Ruby on Rails</li>
              <li>Sublime Text Editor</li>
              <li>Git Version Control</li>
              <li>Deployed on Heroku</li>
              <li>Custom DNS</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" id="modalxfooter">  
    <a href="https://github.com/stxts/crawling_ninja" target="_blank" id="modalxfooterxlink">github.com/stxts/crawling_ninja</a>
     <div class="modalxfooterxdate"><strong>JAN 2017</strong></div>   
    </div>
  </div>
</div>
</div>

<div id="STTSxModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ST Tutoring Service Website</h4>
      </div>
      <div class="modal-body">
      <img src="https://s3.amazonaws.com/stxts-profile/sttssf.png" class="modalPic"><br>
      <div class="container-fluid" id="modalxbody">
      <div class="row">
      <div class="col-lg-6">              
        <h2 class="modalh2">Features</h2>
        <ul>
          <li>Custom Template</li>
          <li>Designed the logo</li>
          <li>Contact Form</li>
          <li>HTML/CSS</li>
        </ul>
      </div>
      <div class="col-lg-6">              
        <h2 class="modalh2">Build</h2>
        <ul>
          <li>Squarespace</li>
          <li>Custom DNS</li>
          <li>Content Creator</li>
          <li>Stripe Integration</li>
        </ul>
      </div>
      </div>
      </div>
      </div>
      <div class="modal-footer" id="modalxfooter">
      <a href="" target="_blank" id="modalxfooterxlink" class="disabled">www.sttssf.org (defunct)</a>
     <div class="modalxfooterxdate"><strong>NOV 2015</strong></div>   
      </div>
    </div>
  </div>
</div>

<div id="WeatherxSTxModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Weather App</h4>
      </div>
      <div class="modal-body">
        <a href="https://weather-st.herokuapp.com/" target="_blank">
        <img src="https://s3.amazonaws.com/stxts-profile/weather_thumbnail.png" alt="WeatherApp" class="modalPic"></a><br>
        <div class="container-fluid" id="modalxbody">
          <div class="row">
            <div class="col-lg-6">  
              <h2 class="modalh2">Features</h2>
              <ul>
                <li>MicroServices</li>
                <li>3rd party API</li>
                <li>GET requests</li>
                <li>Search Input</li>
                <li>Ng-Bootstrap</li>
              </ul>
            </div>
            <div class="col-lg-6">  
              <h2 class="modalh2">Build</h2>
              <ul>
                <li>Angular2</li>
                <li>Sublime Text Editor</li>
                <li>Git Version Control</li>
                <li>Deployed on Heroku</li>
                <li>Cross-Origin</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="modalxfooter">
       <a href="https://github.com/stxts/weather-app" target="_blank" id="modalxfooterxlink">github.com/stxts/weather-app</a>
       <div class="modalxfooterxdate"><strong>APRIL 2017</strong></div>
      </div>
    </div>
  </div>
</div>

<div id="FreelancexSTxModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Freelance Station App</h4>
      </div>
      <div class="modal-body">
        <a href="https://freelance-st.herokuapp.com/home" target="_blank">
        <img src="https://s3.amazonaws.com/stxts-profile/Freelance_thumbnail.png" alt="FreelanceApp" class="modalPic"></a><br>
        <div class="container-fluid" id="modalxbody">
          <div class="row">
            <div class="col-lg-6">  
              <h2 class="modalh2">Features</h2>
              <ul>
                <li>MicroServices</li>
                <li>Two-way binding</li>
                <li>Internal API</li>
                <li>GET & POST requests</li>
                <li>Ng-Bootstrap</li>
              </ul>
            </div>
            <div class="col-lg-6">  
              <h2 class="modalh2">Build</h2>
              <ul>
                <li>Angular2</li>
                <li>Ruby on Rails</li>
                <li>Sublime Text Editor</li>
                <li>Git Version Control</li>
                <li>Deployed on Heroku</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="modalxfooter">
       <a href="https://github.com/stxts/angular-rails" target="_blank" id="modalxfooterxlink">github.com/stxts/angular-rails</a>
       <div class="modalxfooterxdate"><strong>MARCH 2017</strong></div>
      </div>
    </div>
  </div>
</div>

<div id="BKExModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">BKE Client & Internal App</h4>
      </div>
      <div class="modal-body">
        <a href="https://www.bookkeepingexpress.com/" target="_blank">
        <img src="https://s3.amazonaws.com/stxts-profile/BKE_thumbnail.png" alt="BKEApp" class="modalPic"></a><br>
        <div class="container-fluid" id="modalxbody">
          <div class="row">
            <div class="col-lg-6">  
              <h2 class="modalh2">Features</h2>
              <ul>
                <li>Large Scale Financial Web App</li>
                <li>MicroServices</li>
                <li>Uses Xero & QBO API</li>
                <li>Hangfire Background Job</li>
                <li>MSSQL / CDATA SYNC</li>
              </ul>
            </div>
            <div class="col-lg-6">  
              <h2 class="modalh2">Build</h2>
              <ul>
                <li>C# .NET MVC (Internal)</li>
                <li>Angular2 (Client)</li>
                <li>Visual Studio</li>
                <li>Jitbit/HelpDesk API</li>
                <li>Deployed on AWS</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="modalxfooter">
       <a href="" target="_blank" id="modalxfooterxlink" class="disabled">GitLab (Private)</a>
       <div class="modalxfooterxdate"><strong>SEPT 2016 - NOW</strong></div>
      </div>
    </div>
  </div>
</div>