<div id="PinterestedxSTxModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pinterest Clone Web App</h4>

      </div>
      <div class="modal-body">
      <a href="https://pinterestedxst.herokuapp.com/" target="_blank">
      <img src="https://s3.amazonaws.com/stxts-profile/pinterestedxst_thumbnail.png" alt="PinterestedxST_logo" class="modalPic"></a><br>
      <div class="col-lg-6">  
        <h2 class="modalh2">Features</h2>
        <ul>
          <li>User Authentication</li>
          <li>Bootstrap design</li>
          <li>CRUD</li>
          <li>HTML/CSS/JS/jQuery</li>
          <li>SQLite3 dev | PostgreSQL prod</li>
        </ul>
      </div>
      <div class="col-lg-6">  
        <h2 class="modalh2">Build</h2>
        <ul>
          <li>Ruby on Rails</li>
          <li>C9 Online Dev Environment</li>
          <li>Git Version Control</li>
          <li>Deployed on Heroku</li>
          <li>AWS S3 - Cloud Storage</li>
        </ul>
      </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>

<div id="CrawlingNinjaxModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Crawling Ninja Web App</h4>
      </div>
      <div class="modal-body">
      <a href="http://www.crawling.ninja/" target="_blank">
      <img src="https://s3.amazonaws.com/stxts-profile/crawlingninja_thumbnail.png" class="modalPic"></a><br>
      <div class="col-lg-6">  
      <h2 class="modalh2">Features</h2>
        <ul>
          <li>Custom Template</li>
          <li>Bootstrap design</li>
          <li>Email Functionality</li>
          <li>AJAX</li>
          <li>HTML/CSS/JavaScript</li>
        </ul>
        </div>     
      <div class="col-lg-6">  
      <h2 class="modalh2">Build</h2>
        <ul>
          <li>Ruby on Rails</li>
          <li>Sublime Text Editor</li>
          <li>Git Version Control</li>
          <li>Deployed on Heroku</li>
          <li>Custom DNS</li>
        </ul>
        </div>
      </div>
      <div class="modal-footer">     
      </div>
    </div>
  </div>
</div>

<div id="STTSxModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ST Tutoring Service Web App</h4>
      </div>
      <div class="modal-body">
      <img src="https://s3.amazonaws.com/stxts-profile/sttssf.png" class="modalPic"><br>
      <div class="col-lg-6">              
        <h2 class="modalh2">Features</h2>
        <ul>
          <li>Custom Template</li>
          <li>Designed the logo</li>
          <li>Contact Form</li>
          <li>HTML/CSS</li>
        </ul>
      </div>
      <div class="col-lg-6">              
        <h2 class="modalh2">Build</h2>
        <ul>
          <li>Squarespace</li>
          <li>Custom DNS</li>
          <li>Content Creator</li>
          <li>Stripe Integration</li>
        </ul>
      </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>