<a href="#cd-nav" class="cd-nav-trigger">Menu 
  <span class="cd-nav-icon"></span>
  <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
      <circle fill="transparent" stroke="#90D4C5" stroke-width="2" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</a>

<div id="cd-nav" class="cd-nav">
    <div class="cd-navigation-wrapper">
        <div class="cd-half-block">
            <nav>
                <ul class="cd-primary-nav">
                    <li><a href="/" class="selected">Home</a></li>
                    <%# <li><a href="#">Profile</a></li> %>
                    <li><a href="https://s3.amazonaws.com/stxts-profile/st_resume.pdf" target="_blank">Resume</a></li>
                </ul>
            </nav>
        </div> 
        <div class="cd-half-block">
            <address>
             <i> 
                <ul class="cd-contact-info">
                    <li><a href="mailto:songthamtung@gmail.com">Songthamtung@gmail.com</a></li>
                    <li>415-283-7841</li>
                </ul>
                <ul class="cd-contact-socials">
                    <li>
                     <a href="https://www.linkedin.com/in/stxts" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                     <a href="https://www.github.com/stxts" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a> 
                     <a href="https://www.twitter.com/songthamtung" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a> 
                      <span data-toggle="modal" data-target="#navy">
                        <a class="btn-social btn-outline"><i class="fa fa-fw fa-terminal"></i></a>
                    </span></li>
                </ul>
              </i>
            </address>
        </div>
    </div>
</div>
 